<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <style>
    body {
      background: #f5f6fa;
      margin: 20px;
      }
  </style>
</head>
<body>
  <div class="container">
    <form action="">
      <label for="todo_name">Todo Name</label>
      <input type="text" name="name" id="todo_name" placeholder="Enter Todo Name"/>
      <br>
      <button class="btn btn--primary">Add Task</button>
    </form>
  </div>
</body>
</html>
